/GSP
/brainnotation
/Generated_Data
/.ipynb_checkpoints
/phenotypic
/internship
/Internship_HBN
/__pycache__
/Big_Daddy_latest.ipynb
/Big_Daddy_latest.py
/ISC.py
/ISC.ipynb
/Big_Daddy.ipynb
/notebook.tar.gz
/S4B2-Copy1.ipynb
/ISC_recomputation_for_probing_eloreta.py
/scripts/Good_subjects.zip
filtered_ipynbs/.ipynb_checkpoints
/S4B2_latest_with PSD source.ipynb
/S4B2-Video_watching.ipynb
/Results/raw_time_domain.html
/homes/v20subra/S4B2/participants_and_stuffs_for_subjects_inclusion
/brainnotation
/filtered_ipynbs/NDARBF805EHN/
/filtered_ipynbs/6th eigen vector.nii.gz
/filtered_ipynbs/ttest_on_correlation.npz
/filtered_ipynbs/ttest_significance_correlation_unthresholded_tvalues.nii.gz
/filtered_ipynbs/workspace.code-workspace
/HBN_data
/Results
/Screenshots_brain_outputs
/.git_corrupt
/.gitignore_
/filtered_ipynbs/Analysis with Spectral Connectivity.ipynb
/filtered_ipynbs/GSP_Analysis_old.py
/filtered_ipynbs/MNE_connectivity.ipynb
/filtered_ipynbs/raw_time_domain.html
/filtered_ipynbs/S4B2.py
/filtered_ipynbs/GSP_Analysis.ipynb
/filtered_ipynbs/ISC spatially filtered EEG.ipynb
/timeseries.jpg
/Pub-quality Figures/Graph_grid.jpg
/filtered_ipynbs/GSP_Analysis copy.py

/noise_baseline
/eLORETA_extensive_validation/*
!eLORETA_extensive_validation/resting_state_source_inversion.py
!eLORETA_extensive_validation/video-watching_psd.py

/graph_analysis_during_PhD/*
!/graph_analysis_during_PhD/hilbert_graph_analysis_code_results
!/graph_analysis_during_PhD/analysis_thresholding_graphs.py
!/graph_analysis_during_PhD/smoothing_roughness_check.py


/Weekly_Reports
Despicable Me-HQ.wav
/eLORETA_extensive_validation
/filtered_ipynbs
/graph_analysis_during_PhD/*
/Graph-related_analysis/Functional_graph_setup/*
/bootstrapping.png
/Pub-quality Figures
/gitignore_
/.gitattributes

/$Downloading_datasets/code_and_data_for_subjects_inclusion/*

!/$Downloading_datasets/code_and_data_for_subjects_inclusion/participants_CBIC.tsv
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/participants_CUNY.tsv
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/participants_RU.tsv
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/participants_SI.tsv
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/parsing_for_subjects.py
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/dwi-subject_list.ods
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/subject_list.mat
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/subjects_freesurfer.ods
!/$Downloading_datasets/code_and_data_for_subjects_inclusion/subjects_to_download_data_for.mat

/Graph-related_analysis/smoothing_roughness_check.py

/Graph-related_analysis/ERD/
/Graph-related_analysis/plt_style.txt

/AutoAnnotation/*
!/AutoAnnotation/master.py
/3Source_Inversion_full_stack/*
!/3Source_Inversion_full_stack/.ISC_&_noise_floor.py
!/3Source_Inversion_full_stack/$eLORETA.py
!/3Source_Inversion_full_stack/eLORETA_video.py
!/3Source_Inversion_full_stack/readme.md
!/3Source_Inversion_full_stack/thresholding_cortical_signal.py
/Graph-related_analysis/ERD_august
/Graph-related_analysis/Glasser_2016_Table.xlsx
/Graph-related_analysis/kalofiasbraingraphs.mat
/Graph-related_analysis/distance_SC.mat
/Graph-related_analysis/distance_FC.mat

/S4B2/.vscode/

/gspbox
/Graph-related_analysis/decoupling_index.py
/Modular_Scripts/pyoptflow
/dict_of_clustered_events.npz
/Graph-related_analysis/ERD_oct
Graph-related_analysis/ERD_baseline_C_zscore
Graph-related_analysis/ERD_baseline_C_zscore_100ms
Graph-related_analysis/ERD_baseline_C_zscore_SC
Graph-related_analysis/analysis_c_e_a_19_events.py
Graph-related_analysis/GSVs
Graph-related_analysis/eigvector.mat
Graph-related_analysis/gsv_as_a_fn_of_graphs_plotting.py
Graph-related_analysis/laplacian.mat
Graph-related_analysis/X_RS_10subjects.mat
SDI.png

current_data.tar.gz
Graph-related_analysis/zX_RS_10subjects.mat
Graph-related_analysis/SDI_debug.py
Graph-related_analysis/SDI_debug_to_HBN.py
Graph-related_analysis/eigvector-2.mat
Graph-related_analysis/SDI_results
Graph-related_analysis/SDIvsCorticalSignal

Graph-related_analysis/OHBM_results
Graph-related_analysis/graph_bootstrapping.py
Graph-related_analysis/graph_power.py
Graph-related_analysis/graph_testbed.py
Graph-related_analysis/4_in_one_plot.py
Graph-related_analysis/Functional_graph_setup

Graph-related_analysis/4_in_one.png
.vscode
AutoAnnotation/
Eyetracking/
Graph-related_analysis/__pycache__/
Graph-related_analysis/roi_event_index.jpg
.prettierrc

Graph-related_analysis/Theta.png
Graph-related_analysis/smoothness.py
Graph-related_analysis/smoothness_computation.py
Graph-related_analysis/topoplots.py
Graph-related_analysis/PLI_graph.py
Graph-related_analysis/individual_graph_setup.py
Graph-related_analysis/analysis_clustered_events_activity.py
Graph-related_analysis/analysis_clustered_events_graph.py
Graph-related_analysis/2nd_level_maps
Graph-related_analysis/2nd_level_maps_thresholded_at_0.05
Graph-related_analysis/Decoding_results
Graph-related_analysis/averaged_activity.npz
Graph-related_analysis/cluster_results.npz
Results_paper
Graph-related_analysis/stat_significant_activity.npz