/GSP
/brainnotation
/Generated_Data
/.ipynb_checkpoints
/phenotypic
/participants_and_stuffs_for_subjects_inclusion
/internship
/Internship_HBN
/__pycache__
/Big_Daddy_latest.ipynb
/Big_Daddy_latest.py
/ISC.py
/ISC.ipynb
/Big_Daddy.ipynb
/notebook.tar.gz
/S4B2-Copy1.ipynb
/ISC_recomputation_for_probing_eloreta.py
/scripts/Good_subjects.zip
filtered_ipynbs/.ipynb_checkpoints
/S4B2_latest_with PSD source.ipynb
/S4B2-Video_watching.ipynb
/Results/raw_time_domain.html
/homes/v20subra/S4B2/participants_and_stuffs_for_subjects_inclusion
/brainnotation
/filtered_ipynbs/NDARBF805EHN/
/filtered_ipynbs/6th eigen vector.nii.gz
/filtered_ipynbs/ttest_on_correlation.npz
/filtered_ipynbs/ttest_significance_correlation_unthresholded_tvalues.nii.gz
/filtered_ipynbs/workspace.code-workspace
/HBN_data
/Results
/Screenshots_brain_outputs
/.git_corrupt
/.gitignore_
/filtered_ipynbs/Analysis with Spectral Connectivity.ipynb
/filtered_ipynbs/GSP_Analysis_old.py
/filtered_ipynbs/MNE_connectivity.ipynb
/filtered_ipynbs/raw_time_domain.html
/filtered_ipynbs/S4B2.py
/filtered_ipynbs/GSP_Analysis.ipynb
/filtered_ipynbs/ISC spatially filtered EEG.ipynb
/timeseries.jpg
/Pub-quality Figures/Graph_grid.jpg
/filtered_ipynbs/GSP_Analysis copy.py

/noise_baseline
/eLORETA_extensive_validation/*
!eLORETA_extensive_validation/resting_state_source_inversion.py
!eLORETA_extensive_validation/video-watching_psd.py

/graph_analysis_during_PhD/*
!/graph_analysis_during_PhD/hilbert_graph_analysis_code_results
!/graph_analysis_during_PhD/analysis_thresholding_graphs.py
!/graph_analysis_during_PhD/smoothing_roughness_check.py


/Weekly_Reports
Despicable Me-HQ.wav
